.loading_spinner {
  z-index: 9999;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* background-color: ; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
