.loading_spinner {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #3f51b5;
  animation: fade 2s linear;
  opacity: 1;
}

@keyframes fade {
  100% {
    opacity: 0;
  }
  0%,
  20% {
    opacity: 1;
  }
}
